    <footer>
      <p>Sisamaki Evgenia - Master's programme: Library and Information Science, Digital Library and Information Services BMDD1 2232C HT2022</p>
    </footer>

  </div>

</body>

</html>
